<header class="header">
    <nav>
      <div class="nav__bar">
        <div class="logo">
          <a href="#"><img src="assets/logo.png" alt="logo" /></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/room">Rooms</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <!-- Rounded switch -->
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <button class="btn nav__btn">Book Now</button>
    </nav>
    <div class="section__container header__container" id="home">
      <p>Luxorious - Unique - Cozy</p>
      <h1><br />TAKE YOUR <span>REST</span>.</h1>
    </div>
  </header>