<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <!-- font google untuk logo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    
    <title>Web Design Mastery | Rayal Park</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav__bar">
          <div class="logo">
            <a href="#"><img src="assets/babi1.png" alt="logo" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#explore">Explore</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <button class="btn nav__btn">Book Now</button>
      </nav>
      <div class="section__container header__container" id="home">
        <p>Simple - Unique - Friendly</p>
        <h1>Make Yourself At Home<br />In Our <span>Hotel</span>.</h1>
      </div>
    </header>

    <section class="section__container booking__container">
      <form action="/" class="booking__form">
        <div class="input__group">
          <span><i class="ri-calendar-2-fill"></i></span>
          <div>
            <label for="check-in">CHECK-IN</label>
            <input type="text" placeholder="Check In" />
          </div>
        </div>
        <div class="input__group">
          <span><i class="ri-calendar-2-fill"></i></span>
          <div>
            <label for="check-out">CHECK-OUT</label>
            <input type="text" placeholder="Check Out" />
          </div>
        </div>
        <div class="input__group">
          <span><i class="ri-user-fill"></i></span>
          <div>
            <label for="guest">GUEST</label>
            <input type="text" placeholder="Guest" />
          </div>
        </div>
        <div class="input__group input__btn">
          <button class="btn">CHECK OUT</button>
        </div>
      </form>
    </section>

    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img src="assets/about.jpg" alt="about" />
      </div>
      <div class="about__content">
        <p class="section__subheader">ABOUT US</p>
        <h2 class="section__header">The Best Holidays Start Here!</h2>
        <p class="section__description">
          Welcome to Vimiga resort, a luxurious 5-star retreat nestled along the captivating shoreline. Our resort offers unparalleled elegance and hospitality, ensuring an unforgettable stay amidst breathtaking coastal vistas. Each spacious accommodation boasts stunning ocean views, complemented by meticulous attention to detail for the utmost comfort
        </p>
        <div class="about__btn">
          <button class="btn">Read More</button>
        </div>
      </div>
    </section>

    <div class="tampialn-deskripsi">
      <div class="deskripsi-gambar">
        <img src="Biografi/(Bukan)kisah-sukses.jpg" alt="Gambar Buku 2">
      </div>
      <div class="deskripsi">
        <h2>Habis Gelap terbitlah Terang</h2>
        <p class="harga">Rp 100.000 </p>
        <h4>Deskripsi</h4>
        <p>"Hidup adalah sebuah perjalanan transformasi tanpa henti. Saya selalu percaya setiap detik, menit, jam, hari, bulan, dan tahun memberi kesempatan bagi kita untuk berubah menjadi semakin baik Lagi"
          Erick Thohir
          Demikian sepenggal prinsip hidup Erick Thohir yang dipegangnya hingga sekarang. Prinsip itu is amalkan dalam berbagai lini kehidupan, mulai dari mengetola sebuah perusahaan media terkemuka, klub bola raksasa, hingga akhirnya menjadi salah satu pengambil kebijakan yang krusial dalam jajaran pemerintahan. Tidak banyak yang tahu, Erick muda bukanlah orang yang mundur saat diterpa masalah.
          Kita mungkin mengenalnya sebagai sook di batik penyelenggaraan Asian Games 2018 nan megah. Namun di batik itu, Erick adalah putra, adik, dan ayah bagi keluarganya. la tidak lahir dari keluarga yang bergelimang harta dan pernah juga merasakan sulitnya bertahan dalam kerasnya pasar. Dari sekian banyak pengataman hidupnya, Erick pernah berada pada persimpangan yang membuatnya menjadi Erick Thohir yang dikenal publik sekarang.
          Seberkas lika-liku kehidupan itu terekam dalam biografinya. </p>
        <br>
          <a href="konfirmasi.html" class="beli-button">Beli</a>
        <a href="https://wa.me/6287785625667" class="keranjang-button">Chat Penjual</a>
      </div>      
    </div>