<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
  <body>
    <%- include('layouts/navigation.ejs') %>

    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img src="assets/about5.jpg" alt="about" />
      </div>
      <div class="about__content">
        <p class="section__subheader">ABOUT US</p>
        <h2 class="section__header">5 Start hotel</h2>
        <p class="section__description">
          Welcome to Vimiga resort, a luxurious 5-star retreat nestled along the
          captivating shoreline. Our resort offers unparalleled elegance and
          hospitality, ensuring an unforgettable stay amidst breathtaking
          coastal vistas. Each spacious accommodation boasts stunning ocean
          views, complemented by meticulous attention to detail for the utmost
          comfort
        </p>
        <div class="about__btn">
          <button class="btn">Read More</button>
        </div>
      </div>
    </section>

    <section class="section__container room__container">
      <p class="section__subheader">OUR LIVING ROOM</p>
      <h2 class="section__header">CONVINENT PLACE.</h2>
      <div class="room__grid">
        <div class="room__card">
          <div class="room__card__image">
            <img src="assets/room-1.jpg" alt="room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Deluxe Ocean View</h4>
            <p>
              Bask in luxury with breathtaking ocean views from your private
              suite.
            </p>
            <h5>Starting from <span>$299/night</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>
        <div class="room__card">
          <div class="room__card__image">
            <img src="assets/room-2.jpg" alt="room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Executive Cityscape Room</h4>
            <p>
              Experience urban elegance and modern comfort in the heart of the
              city.
            </p>
            <h5>Starting from <span>$199/night</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>
        <div class="room__card">
          <div class="room__card__image">
            <img src="assets/room-3.jpg" alt="room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Family Garden Retreat</h4>
            <p>
              Spacious and inviting, perfect for creating cherished memories
              with loved ones.
            </p>
            <h5>Starting from <span>$249/night</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>
      </div>
    </section>

    <section class="service" id="service">
      <div class="section__container service__container">
        <div class="service__content">
          <p class="section__subheader">SERVICES</p>
          <h2 class="section__header">Explore Our Service.</h2>
          <ul class="service__list">
            <li>
              <span><i class="ri-shield-star-line"></i></span>
              Food & Restaurant
            </li>
            <li>
              <span><i class="ri-24-hours-line"></i></span>
              24 Hours Room Service
            </li>
            <li>
              <span><i class="ri-headphone-line"></i></span>
              Cozy
            </li>
            <li>
              <span><i class="ri-map-2-line"></i></span>
              Strategy Place
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section__container banner__container">
      <div class="banner__content">
        <div class="banner__card">
          <h4>200+</h4>
          <p>Rooms</p>
        </div>
        <div class="banner__card">
          <h4>90+</h4>
          <p>Staff</p>
        </div>
        <div class="banner__card">
          <h4>1000+</h4>
          <p>Clients</p>
        </div>
      </div>
    </section>

    <section class="explore" id="explore">
      <p class="section__subheader">EXPLORE</p>
      <h2 class="section__header">What's New Today.</h2>
      <div class="explore__bg">
        <div class="explore__content">
          <p class="section__description">10th MAR 2023</p>
          <h4>A New Menu Is Available In Our Hotel.</h4>
          <button class="btn">Continue</button>
        </div>
      </div>
    </section>

    <section class="more" id="more">
      <h1>Meet Our Team</h1>
      <div class="wrapper1">
        <div class="section1">
          <!-- 1 -->

          <div class="kartu">
            <p>Michael Manalu (535220073)</p>
            <img src="assets/micheal.jpg" alt="" />
            <p>"Failure is a process to success"</p>
            <a href=""
              ><i class="fab fa-instagram" style="color: #ffffff"></i
            ></a>
            <a href=""><i class="fab fa-twitter" style="color: #ffffff"></i></a>
            <a href=""
              ><i class="fab fa-linkedin" style="color: #ffffff"></i
            ></a>
          </div>

          <!-- 2 -->
          <div class="kartu">
            <p>Vincent Callista (535220075)</p>
            <img src="assets/vincent.jpg" alt="" />
            <p>"Do with your heart"</p>
            <a href=""
              ><i class="fab fa-instagram" style="color: #ffffff"></i
            ></a>
            <a href=""><i class="fab fa-twitter" style="color: #ffffff"></i></a>
            <a href=""
              ><i class="fab fa-linkedin" style="color: #ffffff"></i
            ></a>
          </div>

          <!-- 3 -->
          <div class="kartu">
            <p>Yoga Ramadhani (535220247)</p>
            <img src="assets/Yoga.jpg" alt="" />
            <p>"Money surely can buy happiness"</p>
            <a href=""
              ><i class="fab fa-instagram" style="color: #ffffff"></i
            ></a>
            <a href=""><i class="fab fa-twitter" style="color: #ffffff"></i></a>
            <a href=""
              ><i class="fab fa-linkedin" style="color: #ffffff"></i
            ></a>
          </div>
        </div>
      </div>
    </section>

    <%- include('layouts/footer.ejs') %>
  </body>
</html>
