<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>

  <body>
    <%- include('layouts/navigation.ejs') %>

    <div class="judulkonfirmasi">
      <div class="judulkonten1">
        <h2>Pembayaraan</h2>
      </div>
    </div>

    <div class="konfirmasi-container">
      <div ng-app="" class="one">
        <h2>Silahkan melanjutkan pembayaraan</h2>
        <p>Silahkan Melakukan transfer ke <br />1270224730</p>
        <p>Nomor Pesanan<br />231111BMENFHQ2</p>
        <a href="/room" class="custom-button">Lanjutkan Booking</a>
      </div>
    </div>

    <%- include('layouts/footer.ejs') %>
  </body>
</html>
