<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
  <body>
    <%- include('layouts/navigation.ejs') %>

    <section class="service" id="service">
        <div class="section__container service__container">
          <div class="service__content">
            <p class="section__subheader">SERVICES</p>
            <h2 class="section__header">Explore Our Service.</h2>
            <ul class="service__list">
              <li>
                <span><i class="ri-shield-star-line"></i></span>
                Food & Restaurant
              </li>
              <li>
                <span><i class="ri-24-hours-line"></i></span>
                24 Hours Room Service
              </li>
              <li>
                <span><i class="ri-headphone-line"></i></span>
                Cozy
              </li>
              <li>
                <span><i class="ri-map-2-line"></i></span>
                Strategy Place
              </li>
            </ul>
          </div>
        </div>
      </section>
  
      <%- include('layouts/footer.ejs') %>
    </body>
  </html>